#mainBody{
    display: flex;
    flex-direction: column;
    border: black solid 3px;
    height: 800px;
    width: 500px;
    padding: 5px;
}    
    #display{
        margin-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 5px;
        box-sizing: border-box;
        border: black solid 3px;
        height: 50%;
    }
.containers{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 500px;
    border: red solid 1px;
    box-sizing: border-box;
}
    #display{
        margin-top: 50px;
        border-radius: 5px;
        box-sizing: border-box;
        border: black solid 3px;
        height: 50%;
    }
    #previosExp{
        border: black solid 3px;
        height: 50px;
        margin-top: 10px;
    }
    .rowContainer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: red solid .5px;
        height: 70px;
    }
        .calcBtn{
            width: 110px;
            height: 50px;
            font-size: 20px;
        }
